@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
}

.pagina {
    display: flex;
    width: 100vw;
}

.navbar {
    background-color: #9a0a0a;
    height: 100vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.navbar img {
    width: 80%;
}

.navbar button {
    width: 80%;
    height: 5%;
    border-radius: 20px;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
    background-color: #F3F3F3;
}

.navbar button:hover {
    width: 85%;
    height: 6%;
    font-size: 20px;
    background-color: #FBB040;
    color: #F3F3F3;
}

.navbar a {
    color: #fff;
}

.navbar a:hover {
    font-size: 20px;
    color: #FBB040;
}



.carrossel {
    height: 100vh;
    width: 80vw;
    overflow: hidden;
    /* background-color: #FBB040; */
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 80vw;
    overflow: hidden;
}

.carrossel .container {
    display: flex;
    position: relative;
}

.carrossel p {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    color: #9a0a0a;
    font-weight: bolder;
    font-size: 30px;
}

.conteudo {
    display: flex;
    transition: transform 0.4s ease-in-out;
    height: 100%;
}

.seta {
    position: absolute;
    top: 40%;
    z-index: 1000; /* FICA POR CIMA DE TUDO */
    cursor: pointer;
}

.seta img {
    height: 80px;
}

/* posicionamentos */
.seta.esquerda {
    left: 24px;
}

.seta.direita {
    right: 10px;
}

.carrossel .box {
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box img {
    height: 90%;
    border-radius: 10px;
}